# GitHub Pages에 정적 콘텐츠를 배포하기 위한 간단한 워크플로우
name: Deploy static content to Pages

on:
  # 기본 브랜치에 대한 푸시 이벤트 발생 시 실행
  push:
    branches: ['main']

  # Actions 탭에서 수동으로 워크플로우를 실행할 수 있도록 구성
  workflow_dispatch:

# GITHUB_TOKEN의 권한을 설정하여 GitHub Pages에 배포할 수 있도록 함
permissions:
  contents: read
  pages: write
  id-token: write

# 동시에 하나의 배포만 허용하도록 구성
concurrency:
  group: 'pages'
  cancel-in-progress: true

jobs:
  # 단순히 배포만 수행하기에 하나의 잡으로만 구성
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
      - name: Install dependencies
        run: npm ci

           # env 파일 생성 후 backend url 넣어주기
      - name: Generate env file
        run: |
          touch .env
          echo "VITE_API_BACK_URL=$VITE_API_BACK_URL" >> .env
          echo "VITE_API_REST_API=$VITE_API_REST_API" >> .env
          echo "VITE_API_CLIENT_SECRET=$VITE_API_CLIENT_SECRET" >> .env
          echo "VITE_API_REDIRECT_URI=$VITE_API_REDIRECT_URI" >> .env
          echo "VITE_DISCORD_CLIENT_ID=$VITE_DISCORD_CLIENT_ID" >> .env
          echo "VITE_DISCORD_REDIRECT_URI=$VITE_DISCORD_REDIRECT_URI" >> .env

        env:
          VITE_API_BACK_URL: ${{ secrets.VITE_API_BACK_URL }}
          VITE_API_REST_API: ${{ secrets.VITE_API_REST_API }}
          VITE_API_CLIENT_SECRET: ${{ secrets.VITE_API_CLIENT_SECRET }}
          VITE_API_REDIRECT_URI: ${{ secrets.VITE_API_REDIRECT_URI }}
          VITE_DISCORD_CLIENT_ID: ${{ secrets.VITE_DISCORD_CLIENT_ID }}
          VITE_DISCORD_REDIRECT_URI: ${{ secrets.VITE_DISCORD_REDIRECT_URI }}

        
      - name: Build
        run: npm run build
        
      - name: Setup Pages
        uses: actions/configure-pages@v4
        
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3.0.1
        with:
          # dist 디렉터리 업로드
          path: './dist'
          
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
